/*標題及字體樣式 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Zen Kaku Gothic New", Verdana, sans-serif;
    letter-spacing: 0.15rem;
    font-weight: 700;
    color: #393129;
}
h1 {font-size: 1.9rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.16rem;}
h4 {font-size: 0.88rem;}
h5 {font-size: 0.75rem;}
h6 {font-size: 0.625rem;}
p {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 0.88rem;
    letter-spacing: 0.15rem;
    line-height: 166%;
    font-weight: 400;
}
a { text-decoration: none; color: #393129;}
.font--card-title {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 0.875rem;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 400;
}
button {
    border: none;
}
@media screen and (min-width: 768px) {
    .font--card-title {
        font-family: "Inter", Verdana, sans-serif;
        font-size: 0.8rem;
        line-height: 22px;
        letter-spacing: 1px;
        font-weight: 400;
    }
}
.font--card-list {
    font-size: 0.88rem;
    letter-spacing: 10%;
    font-weight: 400;
    line-height: 34px;
}
.font--logo {
    font-family: "Karantina", Verdana, sans-serif;
    letter-spacing: 10%;
    font-weight: 700;
}
.font--time {
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 0.75rem;
    margin-bottom: 13px;
}
.font--subtitle {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 1.16rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 184%;
}
::selection {
    background-color: #ffde8c;
    color: #393129;
}
/* button樣式 */
.btn {
    width: 130px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    transition: .3s;
}
.btn::before {
    width: 98%;
    height: 93%;
    content: '';
    position: absolute;
    top: 1.2px;
    right: 1.2px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
}
.btn .font--btn {
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 12px 36px 10px 30px;
    display: block;
}
.btn .font--btn::after {
    transition: .3s;
}
.btn:hover .font--btn::after {
    transform: translateX(6px);
    transition: .3s;
}
/*btn-primary--regular*/
.btn--stroke-primary {
    background-color: #393129; 
}
.btn--stroke-primary::before {
    background-color: #FAF7F2;
    transition: background-color .3s;
    z-index: -1;
}
.btn--stroke-primary:active::before {
    background-color: #393129;
}
/*btn-primary--hover&click*/
.btn--stroke-primary:hover::before{
    background-color: #393129;
    transition: background-color .3s;
}
.btn--stroke-primary a:hover, .btn--stroke-primary a:active {
    color: #FAF7F2;
}
.btn--stroke-primary a {
    color: #393129;
    position: relative;
}
.btn--stroke-primary a::after {
    content: '⇀';
    font-size: 16px;
    display: inline-block;
    position: absolute;
    bottom: 14%;
    right: 18%;
}
.btn--stroke-white {
    background-color: #FAF7F2; 
}
.btn--stroke-white::before {
    content: '';
    position: absolute;
    top: 1.2px;
    right: 1.2px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    background-color: #393129;
}
.btn--filled-primary {
    background-color: #393129;
    color: #FAF7F2;
    position: relative;
}
.btn--filled-primary::before {
    z-index: -1;
}
.btn--filled-primary:hover {
    color: #393129;
    background-color: #FFC52F;
}
.btn--filled-primary:hover::before {
    background-color: #FFC52F;
    transition: background-color .3s;
}
.btn--filled-cta {
    background-color: #FFC52F;
    transition: background-color .3s;
}
.btn--filled-cta:hover {
    background-color: #f5b616;
    transition: background-color .3s;
}
.btn--filled-cta::before {
    content: '';
    background-color: #FFC52F;
}
.btn--filled-cta:hover::before {
    background-color: #f5b616;
    transition: background-color .3s;
}
.btn--filled-cta a::after {
    content: '⇀';
    font-size: 16px;
    display: inline;
    position: absolute;
    bottom: 14%;
    right: 18%;
}
.btn--stroke-secondary {
    background-color: #A58D72;
}
.btn--stroke-secondary::before {
    background-color: #FAF7F2;
}
.btn--stroke-secondary a{
    color: #A58D72;
}
.btn--stroke-secondary a::after {
    content: '⇀';
    font-size: 16px;
    display: inline-block;
    position: absolute;
    bottom: 14%;
    right: 18%;
}
.main-section .btn {
    align-self: flex-end;
}

/*header&nav區塊*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 4;
}
.logo-btn {
    width: 172px;
    height: 80px;
    z-index: 0;
}
.logo-img-container {
    width: 132px;
    height: 56px;
    background-color: #FAF7F2;
    width: fit-content;
    border-radius: 0 0 33px 0;
    overflow: hidden;
    padding: 12px 20px;
}
.logo-img-container img {width: 100%;}

/*登入按鈕*/
.login-btn {
    background-color: #FFC52F;
    border-radius: 50px;
    margin: auto 0px;
    overflow: hidden;
    cursor: pointer;
}
.login-btn span {
    position: relative;
}
.login-btn span::after {
    content: 'MEMBER';
    position: absolute;
    left: 0px;
    top: 100%;
    padding: 14px 24px;
}
.login-btn span {
    font-family: "Zen Kaku Gothic New", Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: #1E1002;
    padding: 14px 24px;
    display: block;
    transition: .3s;
}
.login-btn span:hover{
    translate: 0px -100%;
    transition: .3s;
}
#menu-toggle, .login-btn {
    z-index: 5;
}
#menu-toggle {
    width: 45px;
    height: 45px;
    background-color: #393129;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 4.8px;
    position: relative;
}
#menu-toggle.active .menu-toggle__deco-bar:nth-child(2){
    transform: scale(0);
    transition: 0.3s;
}
#menu-toggle.active .menu-toggle__deco-bar:nth-child(odd){
    position: absolute;
    top: 50%;
    left: 29%;
    transition: 0.3s;
    transition-delay: 0.1s;
}
#menu-toggle:not(.active) .menu-toggle__deco-bar:nth-child(2) {
    transition-delay: 0.2s;
}
#menu-toggle.active .menu-toggle__deco-bar:nth-child(1) {
    transform: rotate(40deg);
}
#menu-toggle.active .menu-toggle__deco-bar:nth-child(3){
    transform: rotate(-40deg);
}
#menu-toggle:hover { cursor: pointer;}
.menu-toggle__deco-bar {
    background-color: #FAF7F2;
    width: 20px;
    height: 1.8px;
    transition: 0.4s;
}
.btn-wrapper {
    display: flex;
    position: fixed;
    top: 3.14vh;
    right: 2.86vw;
    gap: 1.25vw;
}
#overlay--black {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .3s ease;
    pointer-events: fill;
    z-index: 3;
    display: none;
}
#overlay--black.active {
    opacity: 1;
    transition: opacity .4s ease;
    transition-delay: 50ms;
    display: block;
}
#site-menu {
    position: fixed;
    top: 1.2vh;
    right: 1.35vw;
    width: 25vw;
    min-width: 320px;
    height: 80vh;
    background-color: #FAF7F2;
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box;
    padding: 40px 20px 20px 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 4;
}
@media screen and (min-width: 768px) {
    #site-menu {
        position: fixed;
        top: 1.2vh;
        right: 1.35vw;
        width: 25vw;
        min-width: 320px;
        height: 94vh;
        background-color: #FAF7F2;
        border-radius: 10px 0px 0px 10px;
        box-sizing: border-box;
        padding: 40px 20px 20px 40px;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        z-index: 4;
    }
}
#site-menu.active {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
    /*點擊時顯示*/
} 
#site-menu ul li a, #site-menu div a {
    display: none;
    pointer-events: none;
}
#site-menu.active ul li a, #site-menu div a {
    display: block;
    pointer-events: auto;
}
#site-menu.active + #overlay--black {
    pointer-events: auto;
}
.site-menu_item {
    margin: 3.6vh 0;
}
.site-menu_item a {
    font-family: "Zen Kaku Gothic New", Verdana, sans-serif;
    letter-spacing: 5px;
    font-weight: 500;
    color: #393129;
    font-size: 1.125rem;
    position: relative;
    display: block;
    padding: 10px 10px;
    transition: color 250ms;
}
.site-menu_item a::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 34%;
    width: 10.6px;
    height: 12px;
    background-image: url(images/icon_svg/menu-arrow--yellow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 250ms;
}
.site-menu_item a:hover {
    color: #A58D72;
    transition: color 250ms;
}
.site-menu_item a:hover::before {
    opacity: 1;
    transition: opacity 250ms;
}
.social-icon-wrapper {
    width: fit-content;
    display: flex;
    position: absolute;
    left: 50px;
    bottom: 20px;
    gap: 20px;
}
.social-icon--sm {
    display: inline-block;
    width: 24px; 
    height: 24px;
    background-size: cover;
}
@media screen and (min-width: 768px) {
    .social-icon--sm {
        display: inline-block;
        width: 18px; 
        height: 18px;
        background-size: cover;
    }
}
.instagram {
    background-image: url(images/icon_svg/instagram.svg);
}
.facebook {
    background-image: url(images/icon_svg/facebook.svg);
}
.line {
    background-image: url(images/icon_svg/line.svg);
}
#memberArea {
    background-color: #FAF7F2;
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 14px 24px;
    box-shadow: 0px 6px 10px  rgba(0,0,0,.2);
}
#memberArea li {
    font-size: 0.875rem;
    letter-spacing: 1px;
    position: relative;
}
#memberArea li::before {
    content: '';
    position: absolute;
    left: -25%;
    top: 20%;
    width: 10.6px;
    height: 12px;
    background-image: url(images/icon_svg/menu-arrow--yellow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 250ms;
}
#memberArea li:hover::before {
    opacity: 1;
    transition: opacity 250ms;
}
#logOut {
    cursor: pointer;
}
footer {
    width: 100%;
    background: url(images/concrete-wall-with-sunlight_footer.jpg) 0% 72% no-repeat;
    background-size: cover;
    padding: 40px 0px 23px;
}
/*footer樣式*/
.footer-container {
    width: 73.125%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
}
@media screen and (min-width: 576px) {
    .footer-container {
        width: 73.125%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: row;
        display: flex;
    }
}
.policy-link {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.social-media-icon, .legal-notice {
    display: flex;
    align-self: flex-end;
    flex-wrap: nowrap;
}
.legal-notice {
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
}
@media screen and (min-width: 576px) {
    .legal-notice {
        text-align: right;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-end;
    }
}
.social-media-icon {
    width: 100%;
    gap: 28px;
    margin-top: 12px;
    justify-content: center;
}
@media screen and (min-width: 576px) {
    .social-media-icon {
        width: fit-content;
        gap: 28px;
        margin-top: 12px;
        justify-content: unset;
    }
}
.social-media-icon a{
    width: 18px;
    height: 18px;
}
@media screen and (min-width: 576px){
    .social-media-icon a{
        width: 24px;
        height: 24px;
    }
}
.footer-logo {
    width: 129px;
    margin-right: 0px;
    min-width: 129px
}
.footer-logo img {
    width: 100%;
}
.legal-notice a {
    color: #000;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-bottom: 6px;
    display: inline-block;
}
.legal-notice a:hover {
    color: #393129;
    text-decoration: underline;
}
@media screen and (min-width: 576px) {
    .legal-notice a {
        color: #000;
        font-size: 0.875rem;
        letter-spacing: 2px;
        margin-bottom: 6px;
        display: inline-block;
    }
}
.legal-notice p {
    font-size: 0.5rem;
    letter-spacing: 0px;
    line-height: 100%;
    font-weight: 300;
    margin-top: 6px;
}
@media screen and (min-width: 576px) {
    .legal-notice p {
        font-size: 0.75rem;
        letter-spacing: 1px;
        line-height: 100%;
        font-weight: 300;
        margin-top: 6px;
    }
}
/*Divier樣式*/
.divider-wrapper {
    margin-bottom: 52px;
}
.divider--white {
    width: 100%;
    height: 14px;
    background-color: #FAF7F2;
    box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, .07); 
}
.triangle--white {
    width: 0px;
    height: 0px;
    border-top: 20px solid #FAF7F2;
    border-right: 75px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-left: 75px solid rgba(0, 0, 0, 0);
    margin: 0px auto;
}
.triangle--yw {
    width: 0px;
    height: 0px;
    border-top: 15px solid #FFC52F;
    border-right: 38px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-left: 38px solid rgba(0, 0, 0, 0);
    margin: 0px auto;
}
/*lightbox設定*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#login-lightbox.active {
    width: auto;
    display: block;
    border-radius: 10px;
    animation: fadeIn .2s ease-in;
}
.lightbox {
    width: 100%;
    display: none;
    justify-content: center;
    position: fixed;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
#lightboxCancel {
    width: 30px;
    height: 30px;
    background-color: #A58D72;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    right: 2%;
    cursor: pointer;
    z-index: 1;
}
#lightboxCancel:hover {
    background-color: #947a5c;
}
#lightboxCancel img {
    width: 60%;
    position: absolute;
    top: 14%;
    left: 20%;
}
#lightboxCancel:hover img {
    width: 60%;
    position: absolute;
    top: 12%;
    left: 20%;
    scale: 1.05;
    transition: scale .3s;
}
.lightbox-container {
    width: 90vw;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FAF7F2;
}
@media screen and (min-width: 768px) {
    .lightbox-container {
        width: 73.125vw;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        background-color: #FAF7F2;
    }
}
.login-btns {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .login-btns {
        display: flex;
        flex-direction: row;
        gap: 6px;
        width: 100%;
    }
}
.lightbox-title h1 {
    font-size: 3.25rem;
    font-family: "Karantina", Verdana, sans-serif;
    letter-spacing: 5px;
    color: #FAF7F2;
    font-weight: 400;
    margin-bottom: 10px;
}
.lightbox-title {
    background-color: #FFC52F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    position: relative;
}
.input-section {
    background-color: #FAF7F2;
    padding: 78px 0px 17px;
}
@media screen and (min-width: 576px) {
    .lightbox-title {
        background-color: #FFC52F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0px;
        position: relative;
    }
    .input-section {
        background-color: #FAF7F2;
        padding: 118px 0px 26px;
    }
}
.input-box {
    width: 76%;
    margin: 0px auto;
}
@media screen and (min-width: 768px) {
    .input-box {
        width: 61%;
        margin: 0px auto;
    }
}
.lightbox-title h2 {
    color: #393129;
}
.input-bar {
    width: 100%;
    display: flex;
}
.input-box .input-bar {
    font-size: 0.875rem;
    font-family: Inter, Verdana, sans-serif;
    letter-spacing: 2px;
    line-height: 140%;
    color: #393129;
    font-weight: 700;
    border-bottom: solid 1px #393129;
    padding: 9px 0px;
    margin-bottom: 37px;
}
.input-box .input-bar input {
    width: 100%;
    border: none;
    background-color: unset;
    font-size: 1rem;
    display: block;
    flex-grow: 1;
}
.input-box .input-bar input:focus {
    outline: none;
}
.input-front {
    min-width: 3.8rem;
}
.input-box .login-btns .btn{
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding: 12px 0px;
    flex-grow: 1;
    border: none;
    cursor: pointer;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 96% 100%, 0% 100%);
}
@media screen and (min-width: 768px) {
    .input-box .login-btns .btn{
        font-family: "Aldrich", Verdana, sans-serif;
        font-size: 0.75rem;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        position: relative;
        padding: 12px 0px;
        flex-grow: 1;
        border: none;
        cursor: pointer;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    }
}
.input-box .login-btns .btn::before {
    width: 99%;
    height: 93%;
    content: '';
    position: absolute;
    right: 0.4%;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 96% 100%, 0% 100%);
}
@media screen and (min-width: 768px) {
    .input-box .login-btns .btn::before {
        width: 98%;
        height: 93%;
        content: '';
        position: absolute;
        top: 1.2px;
        right: 1.2px;
        clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    }
}
.input-box .login-btns .btn--stroke-primary {
    color: #393129;
}
.input-box .login-btns .btn--stroke-primary:hover {
    color: #FAF7F2;
}
#forgot-pswd {
    border: none;
    background-color: unset;
    text-decoration: underline;
    color: #A58D72;
    cursor: pointer; 
    display: block;
    margin: 78px auto 0px;
    transition: color .3s;
    font-size: 0.875rem;
}
#forgot-pswd:hover {
    color: #393129;
    transition: color .3s;
}
.lightbox-title .triangle--yw {
    position: absolute;
    transform: translate(-50%, 100%);
    bottom: 0px;
    left: 50%;
}
@media screen and (min-width: 768px) {
    .lightbox-title .triangle--yw {
        transform: translate(0, -80%);
        rotate: 270deg;
        top: 50%;
        left: 100%;
    }
}
@keyframes slideIn_Y {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideIn_X {
    from {
        opacity: 0;
        transform: translateX(8%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}