/*標題及字體樣式 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Zen Kaku Gothic New", Verdana, sans-serif;
    letter-spacing: 0.15rem;
    font-weight: 700;
    color: #393129;
}
h1 {font-size: 1.9rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.16rem;}
h4 {font-size: 0.88rem;}
h5 {font-size: 0.75rem;}
h6 {font-size: 0.625rem;}
p {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 0.88rem;
    letter-spacing: 0.15rem;
    line-height: 166%;
    font-weight: 400;
}
a { text-decoration: none; color: #393129;}
.font--card-title {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 0.8rem;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 400;
}
.font--card-list {
    font-size: 0.88rem;
    letter-spacing: 10%;
    font-weight: 400;
    line-height: 34px;
}
.font--logo {
    font-family: "Karantina", Verdana, sans-serif;
    letter-spacing: 10%;
    font-weight: 700;
}
.font--time {
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 0.75rem;
    margin-bottom: 13px;
}
.font--subtitle {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 1.16rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 184%;
}
/* button樣式 */
.btn {
    width: 100px;
    height: 34px;
    display: flex;
    align-items: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    transition: .3s;
}
.btn::before {
    width: 97.6px;
    height: 31.6px;
    content: '';
    position: absolute;
    top: 1.2px;
    right: 1.2px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
}
.btn .font--btn {
    width: 100%;
    height: 100%;
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 0.58rem;
    display: block;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}
.btn a::after {
    transition: .3s;
}
.btn:hover a::after {
    transform: translateX(6px);
    transition: .3s;
}
/*btn-primary--regular*/
.btn--stroke-primary {
    background-color: #393129; 
}
.btn--stroke-primary::before {
    background-color: #FAF7F2;
}
/*btn-primary--hover&click*/
.btn--stroke-primary:hover::before{
    background-color: #393129;
}
.btn--stroke-primary a:hover, .btn--stroke-primary a:active {
    color: #FAF7F2;
}
.btn--stroke-white {
    background-color: #FAF7F2; 
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
}
.btn--stroke-white::before {
    width: 97.6px;
    height: 31.6px;
    content: '';
    position: absolute;
    top: 1.2px;
    right: 1.2px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    background-color: #393129;
}
.btn--stroke-primary a {
    color: #393129;
    position: relative;
    padding-right: 10px;
}
.btn--stroke-primary a::after {
    content: '⇀';
    font-size: 16px;
    display: inline-block;
    position: absolute;
    bottom: 30%;
    right: 22%;
    line-height: 10px;
}
.btn--filled-cta {
    background-color: #FFC52F; 
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
}
.btn--filled-cta::before {
    width: 97.6px;
    height: 31.6px;
    content: '';
    position: absolute;
    top: 1.2px;
    right: 1.2px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    background-color: #FFC52F;
}
.btn--filled-cta a::after {
    content: '⇀';
    font-size: 16px;
    margin-left: 2px;
    display: inline;
}
.btn--stroke-secondary {
    background-color: #A58D72; 
    clip-path: polygon(0 0,100% 0, 100% 81%, 89%100%, 0% 100%);
}
.btn--stroke-secondary::before {
    width: 97.6px;
    height: 31.6px;
    content: '';
    position: absolute;
    top: 1.2px;
    right: 1.2px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    background-color: #FAF7F2;
}
.btn--stroke-secondary a{
    color: #A58D72;
}
.btn--stroke-secondary a::after {
    content: '⇀';
    font-size: 16px;
    margin-left: 2px;
    display: inline;
}
.main-section .btn {
    align-self: flex-end;
}

/*header&nav區塊*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 4;
}
.logo-btn {
    width: 172px;
    height: 80px;
    z-index: 0;
}
.logo-img-container {
    width: 132px;
    height: 56px;
    background-color: #FAF7F2;
    width: fit-content;
    border-radius: 0 0 33px 0;
    overflow: hidden;
    padding: 12px 20px;
}
.logo-img-container img {width: 100%;}
.login-btn a {
    font-family: "Zen Kaku Gothic New", Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: #1E1002;
}
.login-btn-container {
    padding: 18px 24px;
}
#menu-toggle {
    width: 45px;
    height: 45px;
    background-color: #393129;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 4.8px;
    position: relative;
}
#menu-toggle.active .menu-toggle__deco-bar:nth-child(2){
    transform: scale(0);
    transition: 0.3s;
}
#menu-toggle.active .menu-toggle__deco-bar:nth-child(odd){
    position: absolute;
    top: 50%;
    left: 29%;
    transition: 0.3s;
    transition-delay: 0.1s;
}
#menu-toggle:not(.active) .menu-toggle__deco-bar:nth-child(2) {
    transition-delay: 0.2s;
}
#menu-toggle.active .menu-toggle__deco-bar:nth-child(1) {
    transform: rotate(40deg);
}
#menu-toggle.active .menu-toggle__deco-bar:nth-child(3){
    transform: rotate(-40deg);
}
#menu-toggle:hover { cursor: pointer;}
.menu-toggle__deco-bar {
    background-color: #FAF7F2;
    width: 20px;
    height: 1.8px;
    transition: 0.4s;
}
.login-btn {
    width: 112px;
    height: 45px;
    background-color: #FFC52F;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-wrapper {
    display: flex;
    position: fixed;
    top: 3.14vh;
    right: 2.86vw;
    gap: 1.25vw;
    /* z-index: 5; */
}
#overlay--black {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .3s ease;
    pointer-events: none;
    z-index: 3;
}
#overlay--black.active {
    opacity: 1;
    transition: opacity .4s ease;
    transition-delay: 50ms;
}
#site-menu {
    /* display: none; */
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 1.2vh;
    right: 1.35vw;
    min-width: 300px;
    width: 25vw;
    height: 94vh;
    background-color: #FAF7F2;
    border-radius: 10px 0px 0px 10px;
    padding: 40px 20px 20px 40px;
    box-sizing: border-box;
    z-index: 4;
    transition: opacity 0.3s ease;
}
#site-menu.active {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
    /*點擊時顯示*/
} 
#site-menu ul li a, #site-menu div a {
    display: none;
    pointer-events: none;
}
#site-menu.active ul li a, #site-menu div a {
    display: block;
    pointer-events: auto;
}
#site-menu.active + #overlay--black {
    pointer-events: auto;
}
#menu-toggle, .login-btn {
    z-index: 5;
}
.site-menu_item {
    margin: 20px 0px;
}
.site-menu_item a {
    font-family: "Zen Kaku Gothic New", Verdana, sans-serif;
    letter-spacing: 5px;
    font-weight: 500;
    color: #393129;
    font-size: 1.125rem;
    position: relative;
    display: block;
    padding: 10px 10px;
    transition: color 250ms;
}
.site-menu_item a::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 34%;
    width: 10.6px;
    height: 12px;
    background-image: url(images/icon_svg/menu-arrow--yellow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 250ms;
}
.site-menu_item a:hover {
    color: #FFC52F;
    transition: color 250ms;
}
.site-menu_item a:hover::before {
    opacity: 1;
    transition: opacity 250ms;
}
.social-icon-wrapper {
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
}
.social-icon--sm {
    display: inline-block;
    width: 18px; /* 設置圖示寬度 */
    height: 18px; /* 設置圖示高度 */
    background-size: cover;
    /* z-index: 10; */
}
.instagram {
    background-image: url(images/icon_svg/instagram.svg);
}
.facebook {
    background-image: url(images/icon_svg/facebook.svg);
}
.line {
    background-image: url(images/icon_svg/line.svg);
}
footer {
    width: 100%;
    height: 63px;
    background: url(images/concrete-wall-with-sunlight_footer.jpg) 0% 72% no-repeat;
    background-size: cover;
    padding: 40px 0px 23px;
}
/*footer樣式*/
.footer-container {
    width: 73.125%;
    justify-content: center;
    margin: 0 auto;
}
.social-media-bar {
    display: flex;
    justify-content: space-between;
}
.social-media-icon, .legal-notice {
    align-self: flex-end;
    gap: 20px;
}
.social-media-icon a{
    width: 24px;
    height: 24px;
    margin-left: 20px;
}
.footer-logo {
    width: 12.864vw;
}
.footer-logo img {
    width: 100%;
}
.legal-notice {
    text-align: right;
}
.legal-notice a {
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin-left: 33px;
}
.legal-notice a:hover {
    color: #FFC52F;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.7);
}
.legal-notice p {
    font-size: 0.75rem;
    letter-spacing: 1.8px;
    line-height: auto;
    font-weight: 300;
}
/*Divier樣式*/
.divider-wrapper {
    margin-bottom: 52px;
}
.divider--white {
    width: 100%;
    height: 14px;
    background-color: #FAF7F2;
    box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, .07); 
}
.triangle--white {
    width: 0px;
    height: 0px;
    border-top: 20px solid #FAF7F2;
    border-right: 75px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-left: 75px solid rgba(0, 0, 0, 0);
    margin: 0px auto;
}