/* 首頁slider設定 */
section.slides-section {
    width: 100%;
    position: relative;
}
.slides {
    display: none;
    aspect-ratio: 2.133/1;
    overflow: hidden;
    position: relative;
}
.slide-page {
    color: #fff;
    font-size: 1.4rem;
    font-family: Aldrich;
    letter-spacing: 1px;
    position: absolute;
    bottom: 45%;
    right: 48px;
    transform: rotate(-90deg);
    opacity: 0.7;
}
.slides img {
    vertical-align: middle;
    width: 100%;
}
/* slideshow container */
.slideshow-container {
    position: relative;
}
.slides-section .dark-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
}
.slide-deco {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 48px;
    opacity: 0.7;
}
.deco-left, .deco-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scale: 0.7;
}
.deco-left {
    align-items: flex-start;
}
.deco-right {
    align-items: flex-end;
}
.deco-left-top {
    transform: rotate(180deg);
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot-wrapper {
    text-align: center;
    position: absolute;
    bottom: 6.8%;
    left: 7.3%;
    opacity: 0.9;
}
.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border: solid 1px #fff;
    display: inline-block;
    transform: rotate(45deg);
    transition: background-color 0.6s ease;
    margin: 0px 5px;
}
.active {
    background-color: #fff;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
/*slide-section-logo*/
.slides-title {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slides-logo {
    text-align: center;
}
.slides-title .slides-logo img{
    width: 66.7%;
}
.slide-txt {
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 17px;
}
.cta-btn_slider {
    width: fit-content;
    border: solid 2px #fff;
    padding: 22px 33px;
    color: #fff;
    margin-top: 32px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    position: relative;
    transition: font-weight 0.8s;
}
.slides-title a {
    display: block;
    overflow: hidden;
    width: fit-content;
    margin: 0px auto;
}
.bg-slide {
    background-color: #FFC52F;
    width: 0px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.8s;
}
.slides-title a:hover .cta-btn_slider {
    transition: color .5s;
    font-weight: 600;
}
.slides-title a:hover .bg-slide {
    width: 200px;
    transition: width .5s;
}
/*main區塊*/
.main-section {
    position: relative;
    max-width: 1400px;
    width: 100%;
    padding: 0px 0px 14px;
    background-color: #FAF7F2;
}
.main-img-container {
    width: 100%;
    aspect-ratio: 2.133/1;
    overflow: hidden;
}
.main-img-container img{
    width: 100%;
    height: auto;
}
#about-shelter-img img{
    transform: translateY(-20%);
} 
.main-txt {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin: 0 102px;
    margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
    .main-txt {
        width: 46%;
    }
}
.main-content {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
.main-section .row:nth-child(even) .main-content .main-txt {
    border-left: 2px solid #393129;
    padding-left: 6.25vw;
    position: relative;
}

.main-section .row:nth-child(even) .main-content .main-txt .trapezoid--l {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    width: 6px;
    height: 22px;
    background-color: #393129;
    position: absolute;
    top: -2px;
    left: -2px;
}
.main-section .row:nth-child(even) .main-content .main-txt .trapezoid--s{
    clip-path: polygon(0 0, 100% 48%, 100% 82%, 0 34%);
    width: 6px;
    height: 9px;
    background-color: #393129;
    position: absolute;
    top: 18px;
    left: -2px;
}
.main-section .row:nth-child(even) .main-content .main-txt .hypotenuse {
    width: 37px;
    border-top: 2px solid #393129;
    transform: rotate(44.27deg);
    position: absolute;
    top: 102.5%;
    left: -6.4px;
}
.main-section .row:nth-child(odd) .main-content .main-txt {
    border-right: 2px solid #393129;
    padding-right: 6.25vw;
    position: relative;
}
.main-section .row:nth-child(odd) .main-content .main-txt .trapezoid--l {
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    width: 6px;
    height: 22px;
    background-color: #393129;
    position: absolute;
    top: -2px;
    right: -2px;
}
.main-section .row:nth-child(odd) .main-content .main-txt .trapezoid--s{
    clip-path: polygon(0 48%, 100% 0, 100% 34%, 0 82%);
    width: 6px;
    height: 9px;
    background-color: #393129;
    position: absolute;
    top: 18px;
    right: -2px;
}
.main-section .row:nth-child(odd) .main-content .main-txt .hypotenuse {
    width: 37px;
    border-top: 2px solid #393129;
    transform: rotate(-44.27deg);
    position: absolute;
    top: 102.7%;
    right: -6.4px;
}
.main-txt h2, .main-txt p {
    color: #393129;
}
.main-section .row {
    margin-bottom: 60px;
}
.row-reverse { /*flex-row-reverse*/
    flex-direction: row-reverse;
}
/*SHELTER三大特色區塊*/
.featured-section {
    background-color: #FFC52F;
    width: 100%;
    padding-bottom: 102px;
}
.featured-title > h2 {
    margin-bottom: 18px;
}
.featured-title {
    margin-bottom: 42px;
}
.cards-container--3 {
    width: 73.125vw;
    margin: 0px auto;
    max-width: 1404px;
    justify-content: center;
}
.featured-card {
    margin-bottom: 50px;
}
.card-img {
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#earphone img{
    transform: rotate(-9deg);
    scale: 1.2;
}
.featured-title, .card-txt {
    text-align: center;
    color: #393129;
}
.card-txt {
    margin-top: 20px;
    padding: 0px 28px;
}
.card-txt h3 {
    margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
    .cards-container--3 .row {
        justify-content: space-between;
    }
    .cards-container--3 .row .col {
        width: 23.125vw;
    }
}
/*最新消息*/
.news-section {
    background-color: #FAF7F2;
    padding: 68px 0px 58px;
}
.news-section h2 {
    text-align: center;
}
.news-section .row {
    margin: 50px 0px;
}
.news-card {
    box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
    background-color: #FAF7F2;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.news-section .card-txt {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
    padding: 0px 13px 20px;
}
.news-section .card-time {
    color: #A58D72;
}
.news-section .btn {
    margin-left: auto;
}
/*如何前往SHELTER*/
.route-planner-section {
    width: 100%;
    height: 100%;
    background: url(images/concrete-wall-with-sunlight_dark-overlay.jpg) 0% 8% no-repeat;
    padding: 70px 0px 47px;
    position: relative;
    background-size: cover;
}
.route-planner-container {
    width: 73.125%;
    margin: 0 auto;
}
.route-planner-section, .gudiance-block h2 {
    color: #FAF7F2;
}
.gudiance-block h2 {
    margin-bottom: 30px;
}
#drive-plan, #bus-plan, #MRT-plan {
    display: none;
    font-family: "Inter", Verdana, sans-serif;
    font-size: 0.88rem;
    letter-spacing: 1.6px;
    line-height: 166%;
    padding: 33px 22px;
    border: 2px solid #FAF7F2;
}
#drive:checked ~ .route-gudiance #drive-plan, #bus:checked ~ .route-gudiance #bus-plan, 
#MRT:checked ~ .route-gudiance #MRT-plan {
    display: block;
}
#drive:checked ~ .transport-btn-wrapper label[for="drive"] .btn--stroke-white::before, #bus:checked ~ .transport-btn-wrapper label[for="bus"] .btn--stroke-white::before,#MRT:checked ~ .transport-btn-wrapper label[for="MRT"] .btn--stroke-white::before {
    /* width: 97.6px;
    height: 31.6px; */
    content: '';
    position: absolute;
    top: 1.2px;
    right: 1.2px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    background-color: #FAF7F2;
}
#drive:checked ~ .transport-btn-wrapper label[for="drive"] .btn .font--btn, #bus:checked ~ .transport-btn-wrapper label[for="bus"] .btn .font--btn,#MRT:checked ~ .transport-btn-wrapper label[for="MRT"] .btn .font--btn {
    color: #393129;
}
.transport-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 28px;
}
.gudiance-block {
    box-sizing: border-box;
    padding-right: 67px;
}
.gudiance-block input {
    display: none;
}
.route-map-container {
    overflow: hidden;
    aspect-ratio: 563/354;
}
.address-block {
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    flex-wrap: wrap;
}
.address-info {
    font-size: 0.916rem;
    line-height: 140%;
    letter-spacing: 2px;
}
.google-map-link a{
    color: #FAF7F2;
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 0.75rem;
    text-decoration: underline;
}
.google-map-link a img {
    display: inline-block;
    width: 0.75rem;
    margin-left: 3px;
}