/*按鈕區塊設定*/
.floor-map-section {
    width: 100%;
    height: auto;
    background-color: #FAF7F2;
    padding: 100px 0px 30px;
}
.floor-map-container {
    width: 73.125%;
    margin: 0px auto;
    padding-bottom: 40px;
    border-bottom: solid 1px #393129;
}
.floor-map {
    position: relative;
}
.floor-map-title {
    text-align: center;
    color: #393129;
    margin: 0px auto 40px;
    width: 80%;
}
@media screen and (min-width: 768px) {
    .floor-map-title {
        text-align: center;
        color: #393129;
        margin: 0px auto 40px;
        width: 60%;
    }
}
.floor-map-title h1 {
    margin-bottom: 30px;
}
.floor-map-container input {
    display: none;
}
.map-btn-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 30px 0px 0px;
}
.map-btn-wrapper h2{
    margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
    .map-btn-wrapper h2{
        margin-bottom: 0px;
    }
}
#single-room-mark {
    clip-path: polygon(0 30%, 38% 30%, 38% 66%, 0 66%);
    background-color: #FFC52F;
    opacity: .4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.floor-map img {
    width: 100%;
}
.room-section .row {
    margin-bottom: 60px;
}
.row-reverse { 
    flex-direction: row-reverse;
}
/*辦公室照片*/
.show-room-section {
    background-color: #FAF7F2;
    padding-top: 100px;
}
.show-room-container {
    width: 73.125%;
    margin: 0 auto;
}
.room-img-main {
    width: 100%;
    aspect-ratio: 231/114;
    overflow: hidden;
}
.room-img-main img{
    width: 100%;
    transform: translateY(-40%);
}
.room-img-thumbnail {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}
.room-img-thumbnail img{
    width: 23%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: block;
    cursor: pointer;
}
.focus {
    box-shadow:  0 0 0 3px #A58D72;
}
/*房型簡介文字*/
.room-info h2, .room-info p, .room-info ul {
    margin-bottom: 28px;
}
.room-info h2, .room-info p {
    color: #393129;
}
.room-info ul li {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    line-height: 166%;
    font-weight: 400;
    list-style: disc;
    list-style-position: inside;
}
.info-block {
    box-sizing: border-box;
    padding-left: 1.875vw;
}
.room-gallery {
    margin-bottom: 30px;
}
.single-room-intro {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;
}
.single-room-intro p {
    margin: 20px 0 20px;
}
/*設施與服務*/
.facility-section {
    background-color: #FAF7F2;
}
.section-container {
    width: 73.125%;
    margin: 0px auto;
    padding: 40px 0px;
    border-bottom: solid 1px #393129;
}
.facility-title {
    font-family: "Zen Kaku Gothic New", Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.title-icon {
    width: 0.9rem;
    height: auto;
    display: inline-block;
    margin-right: 10px;
}
.facility-title img {
    width: 100%;
    height: 100%;
}
.facility-card {
    padding-right: 10px;
    box-sizing: border-box;
    margin: 40px 0px;
    color: #393129;
}
.facility-card li {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    line-height: 166%;
    font-weight: 400;
    list-style: disc;
    list-style-position: inside;
    text-indent: -1em;
    transform: translateX(0.75rem);
    padding-right: 20px;
    box-sizing: border-box;
}
@media screen and (min-width: 576px){
    .facility-card li {
        font-family: "Inter", Verdana, sans-serif;
        font-size: 0.8rem;
        letter-spacing: 0.15rem;
        line-height: 166%;
        font-weight: 400;
        list-style: disc;
        list-style-position: inside;
        text-indent: -1em;
        transform: translateX(0.75rem);
        padding-right: 20px;
        box-sizing: border-box;
    }
}
/*租借方案*/
.plan-section {
    padding-bottom: 115px;
    background-color: #FAF7F2;
}
.section-container h2 {
    margin-bottom: 32px;
}
.plan-section .section-container .row {
    justify-content: space-between;
}
@media screen and (min-width: 768px) {
    .row-cols-md-3 > .col {
        width: 31.624%;
    }
}
.col {
    margin: 20px 0px;
}
.plan-card {
    width: 100%;
    height: 100%;
    border: 1px solid #A58D72;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #FAF7F2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
}
.card-head {
    width: 100%;
}
.plan-content {
    background-color: #FAF7F2;
    color: #A58D72;
    padding: 0px 24px;
    margin: 50px 0px 32px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.plan-txt {
    margin-bottom: 20px;
}
.color-bar {
    width: 100%;
    height: 67px;
    background-color: #A58D72;
}
.color-round {
    background-color: #FAF7F2;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.color-round img {
    width: 50%;
    display: block;
    padding: 25%;
    transform: translateY(-5%);
}
.plan-content ul li {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    line-height: 166%;
    font-weight: 400;
    list-style: disc;
    transform: translateX(.8rem);
}
.plan-type {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 150%;
    font-weight: 400;
}
.plan-price {
    margin: 10px 0px 16px; 
}
.plan-price .price {
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 2.4rem;
}
@media screen and (min-width: 768px) {
    .plan-price .price {
        font-family: "Aldrich", Verdana, sans-serif;
        font-size: 3vw;
    }
}
.plan-price .price::before {content: '$';}
.plan-price .unit {
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 1.3rem;
    color: #A58D72;
    line-height: 1.8;
}
@media screen and (min-width: 768px) {
    .plan-price .unit {
        font-size: 1.625vw;
    }
}
.plan-content .btn {
    width: 100%;
    height: 34px;
    margin-top: auto;
}
.plan-content .btn--stroke-secondary { 
    clip-path: polygon(0 0,100% 0, 100% 78%, 92% 100%, 0% 100%);
}
.plan-content .btn--stroke-secondary::before {
    width: 98.8%;
    content: '';
    position: absolute;
    top: 2.6%;
    right: 0.6%;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 92% 100%, 0% 100%);
    background-color: #FAF7F2;
}
.plan-content .btn--stroke-secondary a{
    color: #A58D72;
    padding: 12px 36px 10px 30px;
    position: relative;
}
.plan-content .btn--stroke-secondary a::after {
    content: '';
}
.plan-content .btn--stroke-secondary a {
    position: relative;
    display: flex;
    justify-content: center;
}
.price-select .btn--filled-cta a::after {
    content: '';
    font-size: 16px;
    display: inline;
    position: static;
}
.cta-arrow {
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
    transform: translate(50%, 25%);
    transition: .3s;
}
.plan-content .btn--stroke-secondary a:hover .cta-arrow, .price-select .btn--filled-cta a:hover .cta-arrow {
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
    transform: translate(100%, 25%);
    transition: .3s;
}
.plan-content .btn--stroke-secondary a .cta-arrow::after, .price-select .btn--filled-cta a .cta-arrow::after {
    content: '⇀';
    font-size: 0.75rem;
}
.back-to-space {
    background-color: #FAF7F2;
    padding: 32px 0px 70px;
}
.back-to-space .btn {
    margin: 0px auto;
}
/*方案選取下拉選單*/
.price-select .btn a:hover {
    color: #1E1002;
}
#rentType {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
#typeBox {
    border: 1px solid #A58D72;
    width: 60%;
    min-width: 160px;
    max-width: 168px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 0.75rem;
    padding: 10px 6px 10px 6px;
    background-color: #fff;
    display: flex;
}
#typeBox::after {
    content: '';
    background: url(../images/icon_svg/caret-down-solid--secondary.svg);
    display: inline-block;
    line-height: auto;
    background-repeat: no-repeat;
    background-position: right center;
    flex-grow: 1;
}
.hidden {display: none;}
.show-list {
    display: block;
    z-index: 2;
}
#typeList {
    width: 60%;
    min-width: 160px;
    max-width: 168px;
    box-sizing: border-box;
    padding: 8px 6px;
    background-color: #fff;
    box-shadow: 0 6px 10px 0px rgba(0,0,0,.2);
    border-radius: 0 0 15px 8px;
    font-family: "Aldrich", Verdana, sans-serif;
    font-size: 0.75rem;
    line-height: 180%;
    position: absolute;
}
.type-item {
    cursor: pointer;
    padding: 2px 0px;
}
.type-item:not(:last-child) {
    border-bottom: 1px solid #A58D72;
}
.price-select .btn {
    width: 100%;
    clip-path: polygon(0px 0px, 100% 0px, 100% 81%, 96% 100%, 0% 100%);
    padding: 2px 0px;
}
@media screen and (min-width: 768px) {
    .price-select .btn {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 81%, 89% 100%, 0% 100%);
    }
}
.price-select .btn .font--btn {
    padding: 12px 30px 10px 24px;
    display: flex;
    justify-content: center;
}
.selected {
    border: 1px solid #393129;
    box-shadow:  0 0 0 1px #393129;
}
.selected .color-bar {
    background-color: #393129;
}
.selected .plan-content {
    color: #393129;
}
.selected .plan-price span {
    color: #393129;
}
.selected .plan-content .btn--stroke-secondary {
    background-color: #FFC52F;
}
.selected .plan-content .btn--stroke-secondary::before {
    background-color: #FFC52F;
}
.selected .plan-content .btn--stroke-secondary:hover {
    background-color: #f5b616;
}
.selected .plan-content .btn--stroke-secondary:hover::before {
    background-color: #f5b616;
}
.selected .plan-content .btn--stroke-secondary .font--btn {
    color: #393129;
}
.plan-content .btn .font--btn {
    padding: 12px 20px 10px 20px;
}
@media screen and (min-width: 1024px) {
    .plan-content .btn .font--btn {
        padding: 12px 30px 10px 30px;
    }
}
.price-select .cta-arrow {
    width: fit-content;
    display: block;
}
